{% extends 'layout/index.html' %}


{% block titulo %}
    
<h1 class="text-3xl text-center font-bold">
    Iniciar Sesión
</h1>

{% endblock titulo %}
    


{% block contenido %}
    <form class="form-style" action="" method="POST">
        
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        <div class="flex justify-center mt-10">
            <input class="btn-submit" type="submit" value="Enviar"></input>
        </div>

    </form>
{% endblock contenido %}